<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="dual-container">
        <mat-tab-group (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="selectedTabIndex">
          <mat-tab label="Antecedentes del Declarante">
            <div class="stepper-section">

              <div class="step-info row g-2 p-3 pb-4 align-items-center bg-white"
                style="border: 1px solid #004084a1; border-radius: 2px 2px 0px 0px">
                <span class="progress-bar-dip col-12 col-md-2">
                  Paso {{ declIndex + 1 }} de {{ declSteps.length }}
                  ({{ ((declProgress$ | async) ?? 0) * 100 | number:'1.0-0' }}%)
                </span>

                <div class="progress decl-progress-bar col-12 col-md-10">
                  <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar"
                    [style.width.%]="((declProgress$ | async) ?? 0) * 100" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>



              <div cdkScrollable #declContainer class="stepper-wrapper stepper-decl">
                <mat-horizontal-stepper #declStepper class="custom-stepper header-only" [disableRipple]="true"
                  [selectedIndex]="declIndex" (selectionChange)="handleDeclChange($event)"
                  (animationDone)="center(declContainer)">

                  <ng-template matStepperIcon="edit">
                    <mat-icon class="step-icon done">check_circle</mat-icon>
                  </ng-template>
                  

                  <ng-template matStepperIcon="error">
                    <mat-icon class="step-icon warning">warning</mat-icon>
                  </ng-template>

                  <ng-template matStepperIcon="number" let-index="index">
                    <span class="step-number">{{ index + 1 }}</span>
                  </ng-template>

                  <ng-container *ngFor="let s of declSteps; let i = index">
                    <mat-step [completed]="s.status === 'completed'" [hasError]="s.status === 'incomplete'"
                      style="padding:0">
                      <ng-template matStepLabel>
                        <span [ngClass]="{ 'active-step' : i === declIndex }">
                          {{ s.label }}
                        </span>
                      </ng-template>

                    </mat-step>
                  </ng-container>
                </mat-horizontal-stepper>
              </div>
            </div>
          </mat-tab>


          <mat-tab label="Intereses y Patrimonios">
            <div class="stepper-section">


              <div class="container-fluid stepper-declarante">
                <div class="row">
                  <div class="col p-3">
                    <h4 class="float-start">
                      Declarante: {{ activeDeclName$ | async }}
                    </h4>
                
                    <button class="btn btn-primary float-end"
                            (click)="openDeclarantesModal()">
                      Cambiar persona a declarar
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="step-info row p-3 pb-4 g-2 align-items-center bg-white"
                    style="border-top: 1px solid #ff5d17d3;">
                    <!-- Texto "Paso …" -->
                    <span class="progress-bar-dip m-0 col-12 col-md-2">
                      Paso {{ intIndex + 1 }} de {{ intSteps.length }}
                      ({{ ((intProgress$ | async) ?? 0) * 100 | number:'1.0-0' }}%)
                    </span>

                    <!-- Barra -->
                    <div class="progress int-progress-bar col-12 col-md-10">
                      <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar"
                        [style.width.%]="((intProgress$ | async) ?? 0) * 100" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                  </div>
                </div>

              </div>




              <div cdkScrollable #intContainer class="stepper-wrapper stepper-int">
                <mat-horizontal-stepper #intStepper class="custom-stepper header-only" [disableRipple]="true"
                  [selectedIndex]="intIndex" (selectionChange)="handleIntChange($event)"
                  (animationDone)="center(intContainer)">

                  <ng-template matStepperIcon="edit">
                    <mat-icon class="step-icon done">check_circle</mat-icon>
                  </ng-template>
                  

                  <ng-template matStepperIcon="error">
                    <mat-icon class="step-icon warning">warning</mat-icon>
                  </ng-template>

                  <ng-template matStepperIcon="number" let-index="index">
                    <span class="step-number">{{ index + 1 }}</span>
                  </ng-template>

                  <ng-container *ngFor="let s of intSteps; let i = index">
                    <mat-step [completed]="s.status === 'completed'" [hasError]="s.status === 'incomplete'">

                      <ng-template matStepLabel>
                        <span [ngClass]="{ 'active-step' : i === intIndex }">
                          {{ s.label }}
                        </span>
                      </ng-template>
                    </mat-step>
                  </ng-container>
                </mat-horizontal-stepper>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Confirmación de Datos">
            <app-confirmacion-datos></app-confirmacion-datos>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>

  <div class="row" *ngIf="selectedTabIndex !== 2">
    <div class="col">
      <div class="step-content">
        <ng-container *ngIf="activeComponent as cmp">
          <ng-container *ngComponentOutlet="cmp"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>


</div>


<ng-template #declaracionModal>
  <div class="modal-content">
    <h2 mat-dialog-title>Selecciona un declarante o persona relacionada</h2>
    <mat-dialog-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>Seleccionar Declarante</mat-label>
              <mat-select (selectionChange)="selectDeclarante($event.value)">
                <mat-option *ngFor="let decl of declaraciones$ | async" [value]="decl.id">
                  {{ decl.declara }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancelar</button>
    </mat-dialog-actions>
  </div>
</ng-template>