<!-- declaracion-create.component.html -->

<div class="container">
  <!-- Contenedor horizontal para el stepper -->
  <div #stepperContainer class="stepper-container">
    <mat-horizontal-stepper [linear]="true" (selectionChange)="onSelectionChange($event)"
      class="custom-horizontal-stepper">
      <mat-step *ngFor="let step of steps; let i = index" [stepControl]="formGroups[i]"
        [completed]="validador.isPasoCompleto(step.key)"
        [hasError]="visitedSteps[i] && !validador.isPasoCompleto(step.key)">
        <!-- TÍTULO DEL PASO -->
        <ng-template matStepLabel>
          {{ step.label }}
        </ng-template>

        <!-- ÍCONO “edit” → se muestra si NO está completed ni error -->
        <ng-template matStepperIcon="edit" let-index="index">
          <!-- Si NO ha sido visitado, muestra un candado gris (locked) -->
          <ng-container *ngIf="!visitedSteps[index]; else isVisited">
            <span class="icon-circle icon-lock">
              <mat-icon>lock</mat-icon>
            </span>
          </ng-container>
          <!-- Si está visitado pero NO completado => advertencia -->
          <ng-template #isVisited>
            <span class="icon-circle icon-warning">
              <mat-icon>warning</mat-icon>
            </span>
          </ng-template>
        </ng-template>

        <!-- ÍCONO “done” → se muestra si [completed] = true (paso completo) -->
        <ng-template matStepperIcon="done">
          <span class="icon-circle icon-check">
            <mat-icon>check</mat-icon>
          </span>
        </ng-template>

        <!-- ÍCONO “error” → se muestra si [hasError] = true -->
        <ng-template matStepperIcon="error">
          <span class="icon-circle icon-warning">
            <mat-icon>warning</mat-icon>
          </span>
        </ng-template>

        <!-- CONTENIDO DEL PASO -->
        <form [formGroup]="formGroups[i]" class="step-content-area">
          <ng-container *ngIf="step.component">
            <ng-container *ngComponentOutlet="step.component"></ng-container>
          </ng-container>

          <div class="buttons">
            <button mat-button matStepperPrevious *ngIf="i > 0">
              Atrás
            </button>

            <!-- Botón para ir al siguiente paso (salvo el último) -->
            <button mat-button matStepperNext *ngIf="i < steps.length - 1" [disabled]="formGroups[i].invalid"
              (click)="avanzarPaso(i)">
              Siguiente
            </button>

            <!-- Último paso: botón para "Finalizar" -->
            <button mat-button color="primary" *ngIf="i === steps.length - 1" [disabled]="formGroups[i].invalid"
              (click)="avanzarPaso(i); submit();">
              Finalizar
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>