<mat-card class="tarjeta-declaracion">

  <!-- Encabezado (Título y Subtítulo) -->
  <div class="encabezado">
    <h2 class="titulo m-0">Datos de la Entidad</h2>
    <div class="subtitulo">
      <p class="m-0">Ingrese la información correspondiente a su entidad o servicio</p>
    </div>
  </div>

  <!-- Separador -->
  <hr class="separador" />

  <!-- Contenido del Formulario -->
  <div class="contenido-form">
    <form [formGroup]="entidadForm" class="form-declaracion">

      <!-- Servicio / Entidad -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Servicio / Entidad</mat-label>
            <mat-select formControlName="servicio" (selectionChange)="onChangeServicio($event)">
              <mat-option *ngFor="let s of servicios" [value]="s.id"> {{ s.nombre }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cargo o Función</mat-label>
            <mat-select formControlName="cargoFuncion">
              <mat-option *ngFor="let c of cargos" [value]="c.id"> {{ c.nombre }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Asunción en el cargo</mat-label>

            <!-- Agrega un elemento datepicker de angular material -->

            
            <input matInput type="date" formControlName="fechaAsuncion" />
          </mat-form-field>
        </div>
      </div>

      <!-- Tipo Sujeto Obligado -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo Sujeto Obligado</mat-label>
            <mat-select formControlName="tipoSujeto" (selectionChange)="onChangeTipoSujeto($event)">
              <mat-option *ngFor="let ts of tipoSujetos" [value]="ts.id"> {{ ts.nombre }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Subnumeral -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Subnumeral</mat-label>
            <mat-select formControlName="subnumeral" (selectionChange)="onChangeSubnumeral($event)">
              <mat-option *ngFor="let sn of subnumerales" [value]="sn.id"> {{ sn.nombre }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row text-center">
        <strong style="color:red;">
          ¡IMPORTANTE! : Al seleccionar esta opción su declaración será publicada en el sitio de transparencia activa
          del servicio seleccionado y en el portal www.infoprobidad.cl
        </strong>
      </div>
      <div class="row text-center">
        <strong style="color:blue;">
          ¡IMPORTANTE! : Usted ha seleccionado un numeral distinto al informado por su administrador.
          Numeral informado: 22. Declarante Voluntario
        </strong>
      </div>

      <!-- Seleccione Grado o Renta Mensual -->
      <div class="row mb-3 align-items-center">

        <div class="col-md-12 mt-4 pt-3 pb-3 text-center border">
          <strong> Seleccione Grado o Renta Mensual:
          </strong> <br>
          <mat-radio-group formControlName="remuneracionTipo" (change)="onChangeRemuneracion($event.value)">
            <mat-radio-button value="grado" class="me-4">Grado</mat-radio-button>
            <mat-radio-button value="renta">Renta Mensual</mat-radio-button>
          </mat-radio-group>

          <div class="row mt-3 text-center" *ngIf="entidadForm.value.remuneracionTipo === 'grado'">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Grado</mat-label>
                <mat-select formControlName="grado">
                  <mat-option *ngFor="let g of grados" [value]="g.id"> {{ g.nombre }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row mt-3" *ngIf="entidadForm.value.remuneracionTipo === 'renta'">
            <div class="col-md-2"></div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Renta Mensual</mat-label>
                <input matInput formControlName="rentaMensual" class="w-100" />
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="tipoMoneda">
                  <mat-option *ngFor="let m of monedas" [value]="m.id"> {{ m.nombre }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- Fecha Asunción -->
      <div class="row mb-3 align-items-center text-center">



        <div class="col-md-12">
          <strong>Lugar de desempeño :</strong>
          <br>
          <mat-radio-group formControlName="lugarDesempeno" (change)="onChangeNacionalidad($event.value)">
            <mat-radio-button class="me-4" [value]="'chile'">Chile</mat-radio-button>
            <mat-radio-button [value]="'extranjero'">Extranjero</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row mb-3" *ngIf="entidadForm.value.lugarDesempeno === 'chile'">

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Región</mat-label>
            <mat-select formControlName="regionDesempeno">
              <mat-option *ngFor="let r of regiones" [value]="r.id"> {{ r.nombre }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Comuna de desempeño</mat-label>
            <mat-select formControlName="comunaDesempeno">
              <mat-option *ngFor="let c of comunas" [value]="c.id"> {{ c.nombre }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="row mb-3" *ngIf="entidadForm.value.lugarDesempeno === 'extranjero'">
        <div class="row mb-3 align-items-center">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Seleccione el Pais</mat-label>
              <mat-select formControlName="paisDesempeno">
                <mat-option *ngFor="let p of paises" [value]="p.id">
                  {{ p.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ingrese la Ciudad</mat-label>
              <input matInput formControlName="ciudadDesempeno" />

            </mat-form-field>
          </div>
        </div>
      </div>


      <!-- ¿Es Jefe/a de Servicio? -->
      <div class="row mb-3 align-items-center">
        <div class="container-fluid border">
          <div class="row pt-3 text-center">
            <div class="col-md-12">
              <strong>¿Es Jefe/a de Servicio?</strong><br>
              <mat-checkbox formControlName="jefeServicio">
                Esta casilla se marca si usted es Jefe/a de Servicio
              </mat-checkbox>
            </div>
          </div>

          <div class="row mt-3">
            <p>En caso de serlo, debe declarar parientes por consanguinidad en toda la línea recta y en la línea
              colateral en segundo grado por
              consanguinidad como por afinidad que se encuentren vivos. <br>
              i. Tatarabuelos, bisabuelos, abuelos, padres, hijos, nietos, bisnietos, tataranietos, choznos <br>
              ii. Hermanos, cuñados y suegros</p>


              <div class="container-fluid border">
                <strong>Datos Parientes</strong>
                <div class="row text-center">
                  <div class="col-md-12">
                    <mat-radio-group formControlName="datosParientes" (change)="onChangeNacionalidad($event.value)">
                      <mat-radio-button class="me-4" [value]="'true'">Aplica</mat-radio-button>
                      <mat-radio-button [value]="'false'">No Aplica</mat-radio-button>
                    </mat-radio-group>
      
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button mat-raised-button color="primary" class="w-30 float-end m-3">
                      Agregar Pariente
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">

                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Parentesco</th>
                          <th>R.U.N.</th>
                          <th>Nombre</th>
                          <th>Apellido Paterno</th>
                          <th>Apellido Materno</th>
                          <th>Fecha Nacimiento</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pariente of parientes">
                          <td>{{ pariente.parentesco }}</td>
                          <td>{{ pariente.rut }}</td>
                          <td>{{ pariente.nombre }}</td>
                          <td>{{ pariente.apellidoPaterno }}</td>
                          <td>{{ pariente.apellidoMaterno }}</td>
                          <td>{{ pariente.fechaNacimiento }}</td>
                          <td>
                            <button mat-icon-button color="primary">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            
          </div>
        </div>




      </div>

      <!-- Botón Guardar -->
      <mat-card-actions class="acciones justify-content-end mt-3">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          Guardar/Siguiente
        </button>
      </mat-card-actions>
    </form>
  </div>
</mat-card>