<mat-card class="tarjeta-declaracion">
  <!-- Encabezado -->
  <div class="encabezado">
    <h2 class="titulo m-0">Pasivos</h2>
    <div class="subtitulo">
      <p class="m-0">Pasivos generales y deudas por pension de alimentos</p>
    </div>
  </div>

  <hr class="separador" />

  <div class="contenido-form">

    <div class="border p-3 mb-3">

      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">¿Adeuda el pago de pensiones de alimentos?
        </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tieneDeudaPension" name="pensionRadio" (change)="onTieneDeudaPensionChange($event.value)">
            <mat-radio-button value="si" class="me-4">Sí</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!-- Si "sí", mostramos la tabla y el botón "Agregar" -->
      <div *ngIf="tieneDeudaPension === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddPensionModal()">
              Agregar Deuda
            </button>
          </div>
        </div>

        <table mat-table [dataSource]="deduasPensionAlimento" class="w-100 mat-elevation-z8">
          <!-- Monto Total -->
          <ng-container matColumnDef="monto" appResizableColumn>
            <th mat-header-cell *matHeaderCellDef>Monto total adeudado por cada pensión a que está obligado (en pesos chilenos)</th>
            <td mat-cell *matCellDef="let p">
              {{ p.monto | currency }}
            </td>
          </ng-container>

          <!-- Tipo Obligación -->
          <ng-container matColumnDef="tipoObligacion" appResizableColumn>
            <th mat-header-cell *matHeaderCellDef>Tipo de Obligación o Deuda</th>
            <td mat-cell *matCellDef="let p">
              {{ p.tipoId }}
            </td>
          </ng-container>

          <!-- Registra Inscripción -->
          <ng-container matColumnDef="registroNacional" appResizableColumn>
            <th mat-header-cell *matHeaderCellDef>¿Esta deuda Registra Inscripción vigente en el Registro Nacional de Deudores de Pensiones de ALimentos?</th>
            <td mat-cell *matCellDef="let p">
              {{ p.registroNacional ? 'Sí' : 'No' }}
            </td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="estado" appResizableColumn>
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let p">{{ !p.borrador ? 'completo' : 'incompleto' }}</td>
          </ng-container>

          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let p">
              <button mat-icon-button color="accent" (click)="openEditPensionModal(p)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="eliminarPension(p)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsPensiones"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPensiones;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
        </table>
      </div>
    </div>

    <div class="border p-3 mb-3">
      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">¿Posee Pasivos?
        </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tienePasivos" name="pasivosRadio" (change)="onTienePasivosChange($event.value)">
            <mat-radio-button value="si" class="me-4">Sí</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row border mb-3 p-3" *ngIf="tienePasivos === 'si'">
        <div class="col-md-12 fw-bold etiqueta">Pasivo global solo si es mayor a 100 UTM
        </div>

        <div class="col-md-12">
          <mat-form-field class="w-100">
            <mat-label>Monto global en pesos</mat-label>
            <input matInput type="number" [(ngModel)]="montoGlobal" name="montoGlobal" (change)="onMontoGlobalChange($any($event.target).value)">
            <mat-hint align="start">Ingrese un número entero, no se permite el uso de puntos ni comas. Ej: 123456</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="tienePasivos === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddPasivoModal()">
              Declarar Deuda
            </button>
          </div>
        </div>

        <table mat-table [dataSource]="deudasMayor100UTM" class="w-100 mat-elevation-z8">
       
          <!-- Tipo Obligación -->
          <ng-container matColumnDef="tipoObligacion" appResizableColumn>
            <th mat-header-cell *matHeaderCellDef>Tipo de Obligación o Deuda</th>
            <td mat-cell *matCellDef="let p">
              {{ p.tipoId }}
            </td>
          </ng-container>

          <!-- Monto en Pesos -->
          <ng-container matColumnDef="monto" appResizableColumn>
            <th mat-header-cell *matHeaderCellDef>Monto Adeudado en Pesos</th>
            <td mat-cell *matCellDef="let p">
              {{ p.monto | currency }}
            </td>
          </ng-container>

          <!-- Razon Social -->
          <ng-container matColumnDef="razonSocial" appResizableColumn> 
            <th mat-header-cell *matHeaderCellDef>Nombre o Razón Social del Acreedor</th>
            <td mat-cell *matCellDef="let p">
              {{ p.razonSocial }}
            </td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="estado" appResizableColumn>
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let p">{{ !p.borrador ? 'completo' : 'incompleto' }}</td>
          </ng-container>

          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let p">
              <button mat-icon-button color="accent" (click)="openEditPasivoModal(p)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="eliminarPasivo(p)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsPasivos"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPasivos;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
        </table>
      </div>
    </div>

  </div>
  <!-- Botón Guardar -->
  <mat-card-actions class="acciones justify-content-end mt-3">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
      Guardar/Siguiente
    </button>
  </mat-card-actions>
</mat-card>

<!-- MODAL para Pasivo -->
<ng-template #pasivoModal let-dialogRef>
  <h2 mat-dialog-title>
    {{ editPasivoMode ? 'Editar Pasivo' : 'Agregar Pasivo' }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="pasivoForm">
      <!-- Tipo Obligación -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Tipo de Obligación o deuda</mat-label>
        <mat-select formControlName="tipoId">
          <mat-option *ngFor="let tipo of tipoObligacion" [value]="tipo.id">
            {{tipo.nombre}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="pasivoForm.get('tipoId')?.hasError('required')">
          El tipo de obligación es requerido
        </mat-error>
      </mat-form-field>

      <!-- Monto -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Monto Adeudado en Pesos</mat-label>
        <input matInput type="number" formControlName="monto" />
        <mat-error *ngIf="pasivoForm.get('monto')?.hasError('required')">
          El monto es requerido
        </mat-error>
      </mat-form-field>

      <!-- Razón Social -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Nombre o Razón Social del Acreedor</mat-label>
        <input matInput formControlName="razonSocial" />
        <mat-error *ngIf="pasivoForm.get('razonSocial')?.hasError('required')">
          La razón social es requerida
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="savePasivo()">Guardar</button>
  </mat-dialog-actions>
</ng-template>

<!-- MODAL para Pensión -->
<ng-template #pensionModal let-dialogRef>
  <h2 mat-dialog-title>
    {{ editPensionMode ? 'Editar Pensión' : 'Agregar Pensión' }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="pensionForm">
      <!-- Monto -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Monto Adeudado en Pesos</mat-label>
        <input matInput type="number" formControlName="monto" />
        <mat-error *ngIf="pensionForm.get('monto')?.hasError('required')">
          El monto es requerido
        </mat-error>
      </mat-form-field>

      <!-- Registro Nacional -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>¿Esta deuda registra Inscripción vigente en el Registro Nacional de Deudores de Alimentos?</mat-label>
        <mat-select formControlName="registroNacional">
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="savePension()">Guardar</button>
  </mat-dialog-actions>
</ng-template>