<mat-card class="tarjeta-declaracion">
  <!-- Encabezado -->
  <div class="encabezado">
    <h2 class="titulo m-0">Pasivos</h2>
    <div class="subtitulo">
      <p class="m-0">Pasivos generales y deudas por pension de alimentos</p>
    </div>
  </div>

  <hr class="separador" />

  <div class="contenido-form">

    <div class="border p-3 mb-3">

      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">¿Adeuda el pago de pensiones de alimentos?
        </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tieneDeudaPension" name="pensionRadio" (change)="onTieneDeudaPensionChange($event.value)">
            <mat-radio-button value="si" class="me-4">Sí</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!-- Si "sí", mostramos la tabla y el botón "Agregar" -->
      <div *ngIf="tieneDeudaPension === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal()">
              Agregar Deuda
            </button>
          </div>
        </div>

        <table mat-table [dataSource]="deduasPensionAlimento" class="w-100 mat-elevation-z8">
          <!-- Monto Total -->
          <ng-container matColumnDef="montoTotal">
            <th mat-header-cell *matHeaderCellDef>Monto total adeudado por cada pensión a que está obligado (en pesos chilenos)</th>
            <td mat-cell *matCellDef="let p">
              {{ p.montoTotal | currency }}
            </td>
          </ng-container>

          <!-- Registra Inscripción -->
          <ng-container matColumnDef="registraInscripcion">
            <th mat-header-cell *matHeaderCellDef>¿Esta deuda Registra Inscripción vigente en el Registro Nacional de Deudores de Pensiones de ALimentos?</th>
            <td mat-cell *matCellDef="let p">
              {{ p.registraInscripcion }}
            </td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let p">
              {{ p.porcentaje == 100 ? 'Completo' : 'Pendiente' }}
            </td>
          </ng-container>

          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let p">
              <button mat-icon-button color="accent" (click)="openEditModal(p)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="eliminarPasivo(p)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['montoTotal','registraInscripcion','estado','acciones']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['montoTotal','registraInscripcion','estado','acciones'];"></tr>
        </table>
      </div>
    </div>





    <div class="border p-3 mb-3">
      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">¿Posee Pasivos?
        </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tienePasivos" name="pasivosRadio" (change)="onTienePasivosChange($event.value)">
            <mat-radio-button value="si" class="me-4">Sí</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row border mb-3 p-3" *ngIf="tienePasivos === 'si'">
        <div class="col-md-12 fw-bold etiqueta">Pasivo global solo si es mayor a 100 UTM
        </div>

        <div class="col-md-12">
          <mat-form-field class="w-100">
            <mat-label>Monto global en pesos</mat-label>
            <mat-select [(ngModel)]="montoGlobal" name="montoGlobal">
              <mat-option value="si">Si</mat-option>
            </mat-select>
            <mat-hint align="start">Ingrese un número entero, no se permite el uso de puntos ni comas. Ej: 123456</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="tienePasivos === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal()">
              Declarar Deuda
            </button>
          </div>
        </div>

        <table mat-table [dataSource]="deudasMayor100UTM" class="w-100 mat-elevation-z8">
       
          <!-- Tipo Obligación -->
          <ng-container matColumnDef="tipoObligacion">
            <th mat-header-cell *matHeaderCellDef>Tipo Obligación</th>
            <td mat-cell *matCellDef="let p">
              {{ p.tipoObligacion }}
            </td>
          </ng-container>

          <!-- Monto en Pesos -->
          <ng-container matColumnDef="montoEnPesos">
            <th mat-header-cell *matHeaderCellDef>Monto en Pesos</th>
            <td mat-cell *matCellDef="let p">
              {{ p.montoEnPesos | currency }}
            </td>
          </ng-container>

          <!-- Razon Social -->
          <ng-container matColumnDef="razonSocial"> 
            <th mat-header-cell *matHeaderCellDef>Razón Social</th>
            <td mat-cell *matCellDef="let p">
              {{ p.razonSocial }}
            </td>
          </ng-container>

        
          <!-- Estado -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let p">
              {{ p.porcentaje == 100 ? 'Completo' : 'Pendiente' }}
            </td>
          </ng-container>

          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let p">
              <button mat-icon-button color="accent" (click)="openEditModal(p)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="eliminarPasivo(p)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['tipoObligacion','montoEnPesos','razonSocial','estado','acciones']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['tipoObligacion','montoEnPesos','razonSocial','estado','acciones'];"></tr>
        </table>
      </div>
    </div>



  </div>
  <!-- Botón Guardar -->
  <mat-card-actions class="acciones justify-content-end mt-3">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
      Guardar/Siguiente
    </button>
  </mat-card-actions>
</mat-card>

<!-- MODAL inline para Pasivo -->
<ng-template #pasivoModal let-dialogRef>
  <h2 mat-dialog-title>
    {{ editMode ? 'Editar Pasivo' : 'Agregar Pasivo' }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="pasivoForm">
      <!-- Tipo Pasivo -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Tipo de Pasivo</mat-label>
        <mat-select formControlName="tipoPasivo">
          <mat-option value="CREDITO">Crédito</mat-option>
          <mat-option value="HIPOTECA">Hipoteca</mat-option>
          <mat-option value="OTROS">Otros</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Institución -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Institución</mat-label>
        <input matInput formControlName="institucion" />
      </mat-form-field>

      <!-- Monto -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Monto</mat-label>
        <input matInput type="number" formControlName="monto" />
      </mat-form-field>

      <!-- Fecha Adquisición -->
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Fecha Adquisición</mat-label>
        <input matInput formControlName="fechaAdquisicion" />
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="savePasivo(dialogRef)">
      Guardar
    </button>
  </mat-dialog-actions>
</ng-template>