<mat-card class="tarjeta-declaracion">
  <div class="encabezado">
    <h2 class="titulo m-0">Valores Obligatorios Adicionales</h2>
    <div class="subtitulo">
      <p class="m-0">¿Posee valores obligatorios a su nombre?</p>
    </div>
  </div>

  <hr class="separador" />

  <div class="contenido-form">

    <div class="border p-3 mb-3">
      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">Cuentas y/o Libretas de Ahorro</div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tieneCuentasLibretas" name="cuentasRadio" (change)="onTieneCuentasLibretaChange($event.value)">
            <mat-radio-button value="si" class="me-4">Tiene</mat-radio-button>
            <mat-radio-button value="no">No Tiene</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
  
      <div *ngIf="tieneCuentasLibretas === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal(1)">
              Agregar
            </button>
          </div>
        </div>
  
        <table mat-table [dataSource]="cuentasLibretas" class="w-100 mat-elevation-z8">
      
          <!-- Tipo Documento -->
          <ng-container matColumnDef="tipoInstrumento" >
            <th mat-header-cell *matHeaderCellDef>Tipo de Instrumento</th>
            <td mat-cell *matCellDef="let vo">{{ vo.tipoInstrumento }}</td>
          </ng-container>
  
          <!-- N° Documento -->
          <ng-container matColumnDef="razonSocial" >
            <th mat-header-cell *matHeaderCellDef>Nombre o Razón Social</th>
            <td mat-cell *matCellDef="let vo">{{ vo.razonSocial }}</td>
          </ng-container>

          <!-- Pais -->
          <ng-container matColumnDef="pais" >
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let vo">{{ vo.pais }}</td>
          </ng-container>

          <!-- Fecha Adquisicion -->
          <ng-container matColumnDef="fecha" >
            <th mat-header-cell *matHeaderCellDef>Fecha de Adquisición</th>
            <td mat-cell *matCellDef="let vo">{{ vo.fecha | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
  
          <!-- Valor -->
          <ng-container matColumnDef="monto" >
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let vo">{{ vo.monto }}</td>
          </ng-container>
  
          <!-- Moneda -->
          <ng-container matColumnDef="tipoMoneda" >
            <th mat-header-cell *matHeaderCellDef>Moneda</th>
            <td mat-cell *matCellDef="let vo">{{ vo.moneda }}</td>
          </ng-container>

          <!-- Gravamen -->
          <ng-container matColumnDef="gravamen" >
            <th mat-header-cell *matHeaderCellDef>Gravámen</th>
            <td mat-cell *matCellDef="let vo">{{ vo.gravamen }}</td>
          </ng-container>
  
          <!-- Estado -->
          <ng-container matColumnDef="estado" >
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let vo">{{ !vo.borrador ? 'COMPLETO' : 'INCOMPLETO' }}</td>
          </ng-container>
          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let vo">
              <button mat-icon-button color="primary" (click)="openEditModal(vo, 1)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="eliminarValorOblig(vo.id)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnsCuentas"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCuentas;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
        </table>
      </div>
    </div>


    <div class="border p-3 mb-3">
      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">Ahorro Previsional Voluntario </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tieneAhorrosPrevisionales" name="ahorroRadio" (change)="onTieneAhorrosPrevisionalesChange($event.value)">
            <mat-radio-button value="si" class="me-4">Tiene</mat-radio-button>
            <mat-radio-button value="no">No Tiene</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
  
      <div *ngIf="tieneAhorrosPrevisionales === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal(2)">
              Agregar
            </button>
          </div>
        </div>
  
        <table mat-table [dataSource]="ahorrosPrevisionales" class="w-100 mat-elevation-z8">
      
          <!-- Tipo Documento -->
          <ng-container matColumnDef="tipoInstrumento" >
            <th mat-header-cell *matHeaderCellDef>Tipo de Instrumento</th>
            <td mat-cell *matCellDef="let vo">{{ vo.tipoInstrumento }}</td>
          </ng-container>
  
          <!-- N° Documento -->
          <ng-container matColumnDef="razonSocial" >
            <th mat-header-cell *matHeaderCellDef>Nombre o Razón Social</th>
            <td mat-cell *matCellDef="let vo">{{ vo.razonSocial }}</td>
          </ng-container>

          <!-- Pais -->
          <ng-container matColumnDef="pais" >
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let vo">{{ vo.pais }}</td>
          </ng-container>

          <!-- Fecha Adquisicion -->
          <ng-container matColumnDef="fecha" >
            <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
            <td mat-cell *matCellDef="let vo">{{ vo.fecha | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
  
          <!-- Valor -->
          <ng-container matColumnDef="monto" >
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let vo">{{ vo.monto }}</td>
          </ng-container>
  
          <!-- Moneda -->
          <ng-container matColumnDef="tipoMoneda" >
            <th mat-header-cell *matHeaderCellDef>Moneda</th>
            <td mat-cell *matCellDef="let vo">{{ vo.moneda }}</td>
          </ng-container>

          <!-- Gravamen -->
          <ng-container matColumnDef="gravamen" >
            <th mat-header-cell *matHeaderCellDef>Gravámen</th>
            <td mat-cell *matCellDef="let vo">{{ vo.gravamen }}</td>
          </ng-container>
  
          <!-- Estado -->
          <ng-container matColumnDef="estado" >
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let vo">{{ !vo.borrador ? 'COMPLETO' : 'INCOMPLETO' }}</td>
          </ng-container>
          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let vo">
              <button mat-icon-button color="primary" (click)="openEditModal(vo, 2)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="eliminarValorOblig(vo.id)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnsAhorros"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAhorros;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
        </table>
      </div>
    </div>


    <div class="border p-3 mb-3">
      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">Depósito a Plazo </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tieneDepositosPlazo" name="depositoRadio" (change)="onTieneDepositoAPlazoChange($event.value)">
            <mat-radio-button value="si" class="me-4">Tiene</mat-radio-button>
            <mat-radio-button value="no">No Tiene</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
  
      <div *ngIf="tieneDepositosPlazo === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal(3)">
              Agregar
            </button>
          </div>
        </div>
  
        <table mat-table [dataSource]="depositosPlazo" class="w-100 mat-elevation-z8">
      
          <!-- Tipo Documento -->
          <ng-container matColumnDef="tipoInstrumento" >
            <th mat-header-cell *matHeaderCellDef>Tipo de Instrumento</th>
            <td mat-cell *matCellDef="let vo">{{ vo.tipoInstrumento }}</td>
          </ng-container>
  
          <!-- N° Documento -->
          <ng-container matColumnDef="razonSocial" >
            <th mat-header-cell *matHeaderCellDef>Nombre o Razón Social</th>
            <td mat-cell *matCellDef="let vo">{{ vo.razonSocial }}</td>
          </ng-container>

          <!-- Pais -->
          <ng-container matColumnDef="pais" >
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let vo">{{ vo.pais }}</td>
          </ng-container>

          <!-- Fecha Adquisicion -->
          <ng-container matColumnDef="fecha" >
            <th mat-header-cell *matHeaderCellDef>Fecha de Contratación</th>
            <td mat-cell *matCellDef="let vo">{{ vo.fecha | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
  
          <!-- Valor -->
          <ng-container matColumnDef="monto" >
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let vo">{{ vo.monto }}</td>
          </ng-container>
  
          <!-- Moneda -->
          <ng-container matColumnDef="tipoMoneda" >
            <th mat-header-cell *matHeaderCellDef>Moneda</th>
            <td mat-cell *matCellDef="let vo">{{ vo.moneda }}</td>
          </ng-container>

          <!-- Gravamen -->
          <ng-container matColumnDef="gravamen" >
            <th mat-header-cell *matHeaderCellDef>Gravámen</th>
            <td mat-cell *matCellDef="let vo">{{ vo.gravamen }}</td>
          </ng-container>
  
          <!-- Estado -->
          <ng-container matColumnDef="estado" >
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let vo">{{ !vo.borrador ? 'COMPLETO' : 'INCOMPLETO' }}</td>
          </ng-container>
          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let vo">
              <button mat-icon-button color="primary" (click)="openEditModal(vo, 3)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="eliminarValorOblig(vo.id)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnsDepositos"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDepositos;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
        </table>
      </div>
    </div>


    <div class="border p-3 mb-3">
      <div class="row mb-3 align-items-center">
        <div class="col-md-4 fw-bold etiqueta">Seguros </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [(ngModel)]="tieneSeguros" name="seguroRadio" (change)="onTieneSegurosChange($event.value)">
            <mat-radio-button value="si" class="me-4">Tiene</mat-radio-button>
            <mat-radio-button value="no">No Tiene</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
  
      <div *ngIf="tieneSeguros === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal(4)">
              Agregar
            </button>
          </div>
        </div>
  
        <table mat-table [dataSource]="seguros" class="w-100 mat-elevation-z8">
      
          <!-- Tipo Documento -->
          <ng-container matColumnDef="tipoInstrumento" >
            <th mat-header-cell *matHeaderCellDef>Tipo de Instrumento</th>
            <td mat-cell *matCellDef="let vo">{{ vo.tipoDocumento }}</td>
          </ng-container>

          <!-- Tipo Seguro -->
          <ng-container matColumnDef="tipoSeguro" >
            <th mat-header-cell *matHeaderCellDef>Tipo de Seguro</th>
            <td mat-cell *matCellDef="let vo">{{ vo.tipoSeguro }}</td>
          </ng-container>

          <!-- N° Documento -->
          <ng-container matColumnDef="razonSocial" >
            <th mat-header-cell *matHeaderCellDef>Nombre o Razón Social</th>
            <td mat-cell *matCellDef="let vo">{{ vo.razonSocial }}</td>
          </ng-container>

          <!-- Pais -->
          <ng-container matColumnDef="pais" >
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let vo">{{ vo.pais }}</td>
          </ng-container>

          <!-- Fecha Adquisicion -->
          <ng-container matColumnDef="fecha" >
            <th mat-header-cell *matHeaderCellDef>Fecha de Contratación</th>
            <td mat-cell *matCellDef="let vo">{{ vo.fecha | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
  
          <!-- Valor -->
          <ng-container matColumnDef="monto" >
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let vo">{{ vo.monto }}</td>
          </ng-container>
  
          <!-- Moneda -->
          <ng-container matColumnDef="tipoMoneda" >
            <th mat-header-cell *matHeaderCellDef>Moneda</th>
            <td mat-cell *matCellDef="let vo">{{ vo.moneda }}</td>
          </ng-container>

          <!-- Gravamen -->
          <ng-container matColumnDef="gravamen" >
            <th mat-header-cell *matHeaderCellDef>Gravámen</th>
            <td mat-cell *matCellDef="let vo">{{ vo.gravamen }}</td>
          </ng-container>
  
          <!-- Estado -->
          <ng-container matColumnDef="estado" >
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let vo">{{ !vo.borrador ? 'COMPLETO' : 'INCOMPLETO' }}</td>
          </ng-container>
          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let vo">
              <button mat-icon-button color="primary" (click)="openEditModal(vo, 4)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="eliminarValorOblig(vo.id)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSeguros"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSeguros;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
        </table>
      </div>
    </div>



   
  </div>
  <!-- Botón Guardar -->
  <mat-card-actions class="acciones justify-content-end mt-3">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
      Guardar/Siguiente
    </button>
  </mat-card-actions>
</mat-card>

<!-- ░░░ 1 · CUENTAS / LIBRETAS ░░░ -->
<ng-template #cuentasModal>
    <h2 mat-dialog-title>
    {{ editMode ? 'Editar Cuenta / Libreta' : 'Nueva Cuenta / Libreta'}}
  </h2>


  <form [formGroup]="valorForm" (ngSubmit)="saveValorOblig()">
    <mat-dialog-content class="pt-0">
      <div class="row gx-3 gy-2">

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de Instrumento</mat-label>
            <mat-select formControlName="tipoInstrumentoId">
              <mat-option *ngFor="let t of tipoInstrumentos" [value]="t.id">{{ t.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre / Razón Social</mat-label>
            <input matInput formControlName="razonSocial">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>País</mat-label>
            <mat-select formControlName="paisId">
              <mat-option *ngFor="let p of paises" [value]="p.id">{{ p.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Apertura</mat-label>
            <input matInput formControlName="fecha" [matDatepicker]="pickerCta">
            <mat-datepicker-toggle matSuffix [for]="pickerCta"></mat-datepicker-toggle>
            <mat-datepicker #pickerCta></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Monto</mat-label>
            <input matInput formControlName="monto">
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="monedaId">
              <mat-option *ngFor="let m of monedas" [value]="m.id">{{ m.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Gravamen</mat-label>
            <mat-select formControlName="gravamenId">
              <mat-option *ngFor="let g of gravamenes" [value]="g.id">{{ g.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>



<!-- ░░░ 2 · AHORRO PREVISIONAL VOLUNTARIO ░░░ -->
<ng-template #ahorrosModal>

      <h2 mat-dialog-title>
    {{ editMode ? 'Editar Ahorro Previsional' : 'Nuevo Ahorro Previsional'}}
  </h2>

  <form [formGroup]="valorForm" (ngSubmit)="saveValorOblig()">
    <mat-dialog-content class="pt-0">
      <div class="row gx-3 gy-2">

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de Instrumento</mat-label>
            <mat-select formControlName="tipoInstrumentoId">
              <mat-option *ngFor="let t of tipoInstrumentos" [value]="t.id">{{ t.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Entidad / Razón Social</mat-label>
            <input matInput formControlName="razonSocial">
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>País</mat-label>
            <mat-select formControlName="paisId">
              <mat-option *ngFor="let p of paises" [value]="p.id">{{ p.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput formControlName="fecha" [matDatepicker]="pickerAh">
            <mat-datepicker-toggle matSuffix [for]="pickerAh"></mat-datepicker-toggle>
            <mat-datepicker #pickerAh></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Monto</mat-label>
            <input matInput formControlName="monto">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="monedaId">
              <mat-option *ngFor="let m of monedas" [value]="m.id">{{ m.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Gravamen</mat-label>
            <mat-select formControlName="gravamenId">
              <mat-option *ngFor="let g of gravamenes" [value]="g.id">{{ g.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>



<!-- ░░░ 3 · DEPÓSITO A PLAZO ░░░ -->
<ng-template #depositosModal>

      <h2 mat-dialog-title>
    {{ editMode ? 'Editar Depósito a Plazo' : 'Nuevo Depósito a Plazo' }}
  </h2>

  <form [formGroup]="valorForm" (ngSubmit)="saveValorOblig()">
    <mat-dialog-content class="pt-0">
      <div class="row gx-3 gy-2">

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de Instrumento</mat-label>
            <mat-select formControlName="tipoInstrumentoId">
              <mat-option *ngFor="let t of tipoInstrumentos" [value]="t.id">{{ t.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Entidad / Razón Social</mat-label>
            <input matInput formControlName="razonSocial">
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>País</mat-label>
            <mat-select formControlName="paisId">
              <mat-option *ngFor="let p of paises" [value]="p.id">{{ p.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Contratación</mat-label>
            <input matInput formControlName="fecha" [matDatepicker]="pickerDp">
            <mat-datepicker-toggle matSuffix [for]="pickerDp"></mat-datepicker-toggle>
            <mat-datepicker #pickerDp></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Monto</mat-label>
            <input matInput formControlName="monto">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="monedaId">
              <mat-option *ngFor="let m of monedas" [value]="m.id">{{ m.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Gravamen</mat-label>
            <mat-select formControlName="gravamenId">
              <mat-option *ngFor="let g of gravamenes" [value]="g.id">{{ g.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>



<!-- ░░░ 4 · SEGUROS ░░░ -->
<ng-template #segurosModal>

        <h2 mat-dialog-title>
    {{ editMode ? 'Editar Seguro' : 'Nuevo Seguro'  }}
  </h2>

  <form [formGroup]="valorForm" (ngSubmit)="saveValorOblig()">
    <mat-dialog-content class="pt-0">
      <div class="row gx-3 gy-2">

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de Instrumento</mat-label>
            <mat-select formControlName="tipoInstrumentoId">
              <mat-option *ngFor="let t of tipoInstrumentos" [value]="t.id">{{ t.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre / Razón Social de la Aseguradora</mat-label>
            <input matInput formControlName="razonSocial">
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>País</mat-label>
            <mat-select formControlName="paisId">
              <mat-option *ngFor="let p of paises" [value]="p.id">{{ p.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Contratación</mat-label>
            <input matInput formControlName="fecha" [matDatepicker]="pickerSeg">
            <mat-datepicker-toggle matSuffix [for]="pickerSeg"></mat-datepicker-toggle>
            <mat-datepicker #pickerSeg></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Monto Asegurado</mat-label>
            <input matInput formControlName="monto">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="monedaId">
              <mat-option *ngFor="let m of monedas" [value]="m.id">{{ m.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Gravamen</mat-label>
            <mat-select formControlName="gravamenId">
              <mat-option *ngFor="let g of gravamenes" [value]="g.id">{{ g.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>