<mat-sidenav-container class="app-sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav
    #drawer
    class="app-sidenav"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isSidenavOpen"
  >
    <!-- Contenedor general del sidebar -->
    <div class="sidebar-content">
      <!-- Botón para cerrar en mobile (X) -->
      <button
        mat-icon-button
        class="close-mobile d-md-none"
        (click)="toggleSidenav()"
        aria-label="Close"
      >
        <mat-icon>close</mat-icon>
      </button>

      <!-- LOGO -->
      <div class="logo-section">
        <img
          src="assets/images/dip.png"
          alt="Logo"
          class="img-fluid"
          style=" height: 100px; width: 260px;"
        />
      </div>

      <!-- Menú de navegación -->
      <nav class="nav-menu">
        <a
        class="nav-menu-item"
          mat-list-item
          *ngFor="let item of menuItems"
          [routerLink]="item.route"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </a>
      </nav>

      <!-- Footer pegado al fondo -->
      <div class="sidebar-footer">
        <small>Contraloria General de la Republica - DIP</small>
      </div>
    </div>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar color="primary" class="app-toolbar">
      <!-- Botón para togglear sidenav en desktop y mobile -->
      <button
        mat-icon-button
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Título -->
      <!-- <span class="app-title">Mi Dashboard</span> -->

      <!-- Separador para empujar el menú de usuario a la derecha -->
      <span class="spacer"></span>

      <!-- Menú de usuario -->
      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-button"
      >
      <span class="username">{{ currentUser.name || 'Martín Ríos' }}</span>
        <img
          [src]="'assets/images/usuario.png'"
          class="avatar"
          alt="Avatar"
        />
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="['/perfil']">
          Mi Perfil
        </button>
        <button mat-menu-item (click)="logout()">
          Cerrar Sesión
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- Contenedor para el contenido de la página -->
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>