<mat-sidenav-container class="app-sidenav-container">
  <!-- SIDENAV -->
  <mat-sidenav #drawer class="app-sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="isSidenavOpen">
    <!-- Contenedor general del sidebar -->
    <div class="sidebar-content">
      <!-- Botón para cerrar en mobile (X) -->
      <button mat-icon-button class="close-mobile d-md-none" (click)="toggleSidenav()" aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>

      <!-- LOGO O TÍTULO DEL SISTEMA -->
      <div class="logo-section">
        
      </div>

      <!-- Menú de navegación -->
      <nav class="nav-menu">
        <a class="nav-menu-item" mat-list-item *ngFor="let item of menuItems" [routerLink]="item.route"
          routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <img style="width: 24px; margin-right: 10px;" [src]="getIcon(item)">

          <span>{{ item.title }}</span>
        </a>
      </nav>

      <!-- Footer pegado al fondo -->
      <div class="sidebar-footer">
        <small>Contraloría General de la República - DIP</small>
      </div>
    </div>
  </mat-sidenav>

  <!-- CONTENIDO PRINCIPAL -->
  <mat-sidenav-content>
          <ngx-spinner type="ball-scale-multiple"></ngx-spinner>


    <!-- HEADER -->
    <mat-toolbar color="primary" class="app-toolbar">
      <!-- Botón de toggle en mobile/desktop -->
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <img src="assets/images/dip.png" alt="Logo" class="img-fluid" style="width: 200px; max-height: 70px;" />

      <!-- Separador que empuja el menú de usuario a la derecha -->
      <span class="spacer"></span>

      <!-- Menú de usuario -->
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
        <span class="username">{{ currentUser.name || 'Usuario' }}</span>
        <img [src]="'assets/icons/icon-usuario.svg'" class="avatar" alt="Avatar" />
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="['/perfil']">
          Mi Perfil
        </button>
        <button mat-menu-item (click)="logout()">
          Cerrar Sesión
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- Contenedor principal del contenido de la página -->
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>