@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';


/* Ajustes básicos para que el container ocupe toda la pantalla */
.app-sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* SIDENAV */
.app-sidenav {
  width: 250px; /* ancho por defecto en desktop */
  /* En mobile, se superpone (over) y cierra/abre con toggle */
}

.sidebar-content {
  position: relative;
  height: 100%; /* Para que el footer se pegue abajo */
  display: flex;
  flex-direction: column;

  /* Botón "X" para mobile */
  .close-mobile {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1100;
  }

  .logo-section {
    text-align: center;
    padding: 1rem 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .nav-menu {
    flex: 1; /* Para que ocupe el espacio restante */
    display: flex;
    flex-direction: column;

    a[mat-list-item] {
      display: flex;
      align-items: center;
      mat-icon {
        margin-right: 0.75rem;
      }
    }
  }

  .sidebar-footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(210, 105, 25);
    color: white;
    font-size: 11px;
    /* se coloca al final con flexbox */
  }
}

/* TOOLBAR (HEADER) */
.app-toolbar {
  background-color: rgb(210, 105, 25);

  display: flex;
  align-items: center;
  .app-title {
    margin-left: 1rem;
    font-weight: 500;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .user-button {
    display: flex;
    align-items: center;
    text-transform: none; /* Evita uppercase */
    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    .username {
      padding-right: 15px;
    }
  }
}

/* CONTENIDO */
.app-content {
  padding: 1rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  /* Sidenav se ocultará por defecto si isSidenavOpen es false */
  .app-sidenav {
    width: 250px;
  }
  /* Mostrar el nombre en pantallas un poco más grandes, si deseas */
  .user-button .username {
    display: none; /* En móvil, podría ocultarse */
  }
}

@media (min-width: 769px) {
  /* En desktop, podemos mostrar el nombre */
  .user-button .username {
    display: inline;
  }
}

.nav-menu-item {
  background-color: rgb(210, 105, 25);
  color: white;
  text-decoration: none;
  padding: 10px 25px 10px 25px;

  &.active {
    background-color: rgb(255, 255, 255);
    color: rgb(210, 105, 25);
  }

  &:hover {
    background-color: rgb(162, 83, 23);
    color: rgb(214, 214, 214);
    transition: all 0.3s ease;
  }
}

  