mat-icon.bg-danger {
  background-color: #f44336;
  width: 70px;
  height: 56px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.selectable {
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #f5f5f5;
  }
}