<mat-card class="tarjeta-declaracion">
  <!-- Encabezado con título y subtítulo -->
  <div class="encabezado">
    <h2 class="titulo m-0">Derechos / Acciones</h2>
    <div class="subtitulo">
      <p class="m-0">
        Derechos o acciones, de cualquier naturaleza, en entidades constituidas en Chile como en el extranjero
      </p>
    </div>
  </div>

  <hr class="separador" />

  <!-- Contenido principal -->
  <div class="contenido-form">

    <div class="border p-3 mb-3">

      <div class="row mb-3 align-items-center">
        <div class="col-md-4 etiqueta fw-bold">Derechos o acciones en entidades constituidas en Chile</div>
        <div class="col-md-7 text-end">
          <mat-radio-group [value]="tieneDerechosChile" (change)="onTieneDerechosChileChange($event.value)">
            <mat-radio-button value="si" class="me-4">Sí</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="tieneDerechosChile === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModalChile()">
              Agregar Derecho / Acción
            </button>
          </div>
        </div>

        <!-- Tabla de derechos/acciones -->
        <table mat-table [dataSource]="derechosAccionesChile" class="w-100 mat-elevation-z8">
          <!-- Título -->
          <ng-container matColumnDef="titulo" >
            <th mat-header-cell *matHeaderCellDef>Título</th>
            <td mat-cell *matCellDef="let d">{{ d.titulo }}</td>
          </ng-container>

          <!-- Tipo Cantidad/Porcentaje -->
          <ng-container matColumnDef="cantidadPorcentaje" >
            <th mat-header-cell *matHeaderCellDef>Cantidad/Porcentaje</th>
            <td mat-cell *matCellDef="let d">{{ d.cantidadPorcentaje }}</td>
          </ng-container>

          <!-- RazonSocial -->
          <ng-container matColumnDef="razonSocial" >
            <th mat-header-cell *matHeaderCellDef>Nombre o Razón Social</th>
            <td mat-cell *matCellDef="let d">{{ d.razonSocial }}</td>
          </ng-container>

          <!-- RUT -->
          <ng-container matColumnDef="rut" >
            <th mat-header-cell *matHeaderCellDef>RUT</th>
            <td mat-cell *matCellDef="let d">{{ d.rut }}</td>
          </ng-container>

          <!-- Giro -->
          <ng-container matColumnDef="giro" >
            <th mat-header-cell *matHeaderCellDef>Giro SII</th>
            <td mat-cell *matCellDef="let d">{{ d.giro }}</td>
          </ng-container>

          <!-- Fecha Adquisicion -->
          <ng-container matColumnDef="fechaAdquisicion" >
            <th mat-header-cell *matHeaderCellDef>Fecha de Adquisición</th>
            <td mat-cell *matCellDef="let d">
              {{ d.fechaAdquisicion | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>
   

          <!-- Valor -->
          <ng-container matColumnDef="valor" >
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let d">{{ d.valorCorriente }}</td>
          </ng-container>

          <!-- Gravamenes -->
          <ng-container matColumnDef="gravamenes" >
            <th mat-header-cell *matHeaderCellDef>Gravámenes</th>
            <td mat-cell *matCellDef="let d">{{ d.gravamenes }}</td>
          </ng-container>

          <!-- Controlador -->
          <ng-container matColumnDef="controlador" >
            <th mat-header-cell *matHeaderCellDef>Controlador</th>
            <td mat-cell *matCellDef="let d">
              {{ d.controlador ? 'Sí' : 'No' }}
            </td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="estado" >
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let item">{{ !item.borrador ? 'COMPLETO' : 'INCOMPLETO' }}</td>
          </ng-container>

          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let d">
              <button mat-icon-button color="accent" (click)="openEditModalChile(d)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="deleteItem(d, 1)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>

          <tr mat-header-row
            *matHeaderRowDef="displayedColumnsChile">
          </tr>
          <tr mat-row
            *matRowDef="let row; columns: displayedColumnsChile;" [ngClass]="{'fila-incompleta': row.borrador}">
          </tr>
        </table>
      </div>
    </div>

    <div class="border p-3 mb-3">

      <div class="row mb-3 align-items-center">
        <div class="col-md-4 etiqueta fw-bold">Derechos o acciones en entidades constituidas en el extranjero</div>
        <div class="col-md-7 text-end">
          <mat-radio-group [value]="tieneDerechosExtranjero" (change)="onTieneDerechosExtranjeroChange($event.value)">
            <mat-radio-button value="si" class="me-4">Sí</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="tieneDerechosExtranjero === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModalExtranjero()">
              Agregar Derecho / Acción
            </button>
          </div>
        </div>

        <!-- Tabla de derechos/acciones -->
        <table mat-table [dataSource]="derechosAccionesExtranjero" class="w-100 mat-elevation-z8">

          <!-- Titulo -->
          <ng-container matColumnDef="titulo" >
            <th mat-header-cell *matHeaderCellDef>Titulo</th>
            <td mat-cell *matCellDef="let d">{{ d.titulo }}</td>
          </ng-container>

          <!-- Cantidad -->
          <ng-container matColumnDef="cantidadPorcentaje" >
            <th mat-header-cell *matHeaderCellDef>Cantidad/Porcentaje</th>
            <td mat-cell *matCellDef="let d">{{ d.cantidadPorcentaje }}</td>
          </ng-container>

          <!-- Nombre o Razon Social -->
          <ng-container matColumnDef="razonSocial" >
            <th mat-header-cell *matHeaderCellDef>Nombre o Razón Social</th>
            <td mat-cell *matCellDef="let d">{{ d.razonSocial }}</td>
          </ng-container>

          <!-- Fecha Adquisicion -->
          <ng-container matColumnDef="fechaAdquisicion" >
            <th mat-header-cell *matHeaderCellDef>Fecha de Adquisicion</th>
            <td mat-cell *matCellDef="let d">{{ d.fechaAdquisicion }}</td>
          </ng-container>

          <!-- Valor -->
          <ng-container matColumnDef="valor" >
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let d">{{ d.valorCorriente }}</td>
          </ng-container>

          <!-- Gravamenes -->
          <ng-container matColumnDef="gravamenes" >
            <th mat-header-cell *matHeaderCellDef>Gravámenes</th>
            <td mat-cell *matCellDef="let d">{{ d.gravamenes }}</td>
          </ng-container> 

          <!-- Pais -->
          <ng-container matColumnDef="pais" >
            <th mat-header-cell *matHeaderCellDef>País</th>
            <td mat-cell *matCellDef="let d">{{ d.pais }}</td>
          </ng-container>

          <!-- Controlador -->
          <ng-container matColumnDef="controlador" >
            <th mat-header-cell *matHeaderCellDef>Controlador</th>
            <td mat-cell *matCellDef="let d">{{ d.controlador }}</td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="estado" >
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let item">{{ !item.borrador ? 'COMPLETO' : 'INCOMPLETO' }}</td>
          </ng-container>


          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let d">
              <button mat-icon-button color="accent" (click)="openEditModalExtranjero(d)">
                <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar">
              </button>
              <button mat-icon-button color="warn" (click)="deleteItem(d,2)">
                <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar">
              </button>
            </td>
          </ng-container>

          <tr mat-header-row
            *matHeaderRowDef="displayedColumnsExtranjero">
          </tr>
          <tr mat-row
            *matRowDef="let row; columns: displayedColumnsExtranjero;" [ngClass]="{'fila-incompleta': row.borrador}">
          </tr>
        </table>
      </div>
    </div>


  </div>

  <!-- Botón Guardar -->
  <mat-card-actions class="acciones justify-content-end mt-3">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
      Guardar/Siguiente
    </button>
  </mat-card-actions>
</mat-card>

<!-- MODAL CHILE -->
<ng-template #modalChile let-dialogRef>
  <h2 mat-dialog-title>
    {{ editMode ? 'Editar Derecho / Acción en Chile' : 'Agregar Derecho / Acción en Chile' }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="formDerechoAccionChile" (ngSubmit)="saveDialogChile()">
      <div class="modal-body">
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <mat-select formControlName="tituloId">
              <mat-option *ngFor="let titulo of titulos" [value]="titulo.id">
                {{titulo.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipoId">
              <mat-option value="Cantidad">Cantidad</mat-option>
              <mat-option value="Porcentaje">Porcentaje</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Cantidad/Porcentaje</mat-label>
            <input matInput formControlName="cantidadPorcentaje">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Razón Social</mat-label>
            <input matInput formControlName="razonSocial">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>RUT</mat-label>
            <input matInput formControlName="rut">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Giro SII</mat-label>
            <input matInput formControlName="giroSii">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Adquisición</mat-label>
            <input matInput formControlName="fechaAdquisicion" [matDatepicker]="pickerChile">
            <mat-datepicker-toggle matSuffix [for]="pickerChile"></mat-datepicker-toggle>
            <mat-datepicker #pickerChile></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo de Valor</mat-label>
            <mat-select formControlName="valorPlazaLibro">
              <mat-option value="Valor corriente">Valor corriente</mat-option>
              <mat-option value="Valor libro">Valor libro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valorCorriente">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Gravámenes</mat-label>
            <mat-select formControlName="gravamenId">
              <mat-option *ngFor="let gravamen of gravamenes" [value]="gravamen.id">
                {{gravamen.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-checkbox formControlName="controlador">
            ¿Eres controlador?
          </mat-checkbox>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveDialogChile()">
      Guardar
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- MODAL EXTRANJERO -->
<ng-template #modalExtranjero let-dialogRef>
  <h2 mat-dialog-title>
    {{ editMode ? 'Editar Derecho / Acción en el Extranjero' : 'Agregar Derecho / Acción en el Extranjero' }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="formDerechoAccionExtranjero" (ngSubmit)="saveDialogExtranjero()">
      <div class="modal-body">
        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <mat-select formControlName="titulo">
              <mat-option *ngFor="let titulo of titulos" [value]="titulo.id">
                {{titulo.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipoId">
              <mat-option value="Cantidad">Cantidad</mat-option>
              <mat-option value="Porcentaje">Porcentaje</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Cantidad/Porcentaje</mat-label>
            <input matInput formControlName="cantidadPorcentaje">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Razón Social</mat-label>
            <input matInput formControlName="razonSocial">
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Fecha de Adquisición</mat-label>
            <input matInput formControlName="fechaAdquisicion" [matDatepicker]="pickerExtranjero">
            <mat-datepicker-toggle matSuffix [for]="pickerExtranjero"></mat-datepicker-toggle>
            <mat-datepicker #pickerExtranjero></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tipo de Valor</mat-label>
            <mat-select formControlName="valorCorriente">
              <mat-option value="Valor corriente">Valor corriente</mat-option>
              <mat-option value="Valor libro">Valor libro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Gravámenes</mat-label>
            <mat-select formControlName="gravamenId">
              <mat-option *ngFor="let gravamen of gravamenes" [value]="gravamen.id">
                {{gravamen.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline">
            <mat-label>País</mat-label>
            <mat-select formControlName="paisId">
              <mat-option *ngFor="let pais of paises" [value]="pais.id">
                {{pais.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-checkbox formControlName="controlador">
            ¿Eres controlador?
          </mat-checkbox>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveDialogExtranjero()">
      Guardar
    </button>
  </mat-dialog-actions>
</ng-template>