.custom-horizontal-stepper {
  width: 100%;

  ::ng-deep .mat-horizontal-stepper-header-container {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  margin-right: 0.25rem;
}
.icon-check {
  background-color: #4caf50;
}
.icon-warning {
  background-color: #ffc107;
}

.stepper-container {
  overflow-x: auto;
  white-space: nowrap;
}

.step-content-area {
  padding: 1rem 0;
}
