<mat-card class="tarjeta-declaracion">

  <!-- Encabezado (Título y Subtítulo) -->
  <div class="encabezado">
    <h2 class="titulo m-0">Hijos o Personas sujetas a Tutela o Curatela</h2>
    <div class="subtitulo">
      <p class="m-0">Registre los hijos sujetos a patria potestad o personas bajo tutela o curatela</p>
    </div>
  </div>

  <!-- Separador visual -->
  <hr class="separador" />

  <!-- Contenido -->
  <div class="contenido-form">
    <!-- Pregunta: ¿Tiene hijos...? -->

    <div class="border p-3 mb-3">

    <div class="row mb-3 align-items-center">
      <div class="col-md-4 etiqueta fw-bold">¿Tiene hijos o tutelas? :</div>
      <div class="col-md-7 text-end">
        <mat-radio-group [value]="tieneHijosTutela" (change)="onTieneHijosChange($event.value)">
          <mat-radio-button [value]="true" class="me-4">Sí</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Sección con botón "Agregar" y tabla -->
    <div *ngIf="tieneHijosTutela">
      <div class="row mb-3 align-items-center">
        <div class="col-md-4 etiqueta fw-bold">Listado:</div>
        <div class="col-md-8 text-end">
          <button mat-raised-button color="primary" (click)="openAddModal()">
            Agregar
          </button>
        </div>
      </div>

      <!-- Tabla -->
      <div class="row">
        <div class="col-md-12">
          <table mat-table [dataSource]="data" class="w-100 mat-elevation-z8">

            <!-- RUN -->
            <ng-container matColumnDef="run" appResizableColumn>
              <th mat-header-cell *matHeaderCellDef>R.U.N.</th>
              <td mat-cell *matCellDef="let element">{{ element.rut }}</td>
            </ng-container>

            <!-- Tipo Relación -->
            <ng-container matColumnDef="tipoRelacion" appResizableColumn>
              <th mat-header-cell *matHeaderCellDef>Tipo Relación</th>
              <td mat-cell *matCellDef="let element">{{ element.parentesco }}</td>
            </ng-container>

            <!-- Nombres -->
            <ng-container matColumnDef="nombres" appResizableColumn>
              <th mat-header-cell *matHeaderCellDef>Nombres</th>
              <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
            </ng-container>

            <!-- Apellido Paterno -->
            <ng-container matColumnDef="apPaterno" appResizableColumn>
              <th mat-header-cell *matHeaderCellDef>Apellido Paterno</th>
              <td mat-cell *matCellDef="let element">{{ element.apellidoPaterno }}</td>
            </ng-container>

            <!-- Apellido Materno -->
            <ng-container matColumnDef="apMaterno" appResizableColumn>
              <th mat-header-cell *matHeaderCellDef>Apellido Materno</th>
              <td mat-cell *matCellDef="let element">{{ element.apellidoMaterno }}</td>
            </ng-container>

            <!-- Acciones -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="openEditModal(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarHijo(element)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Header & Rows -->
            <tr mat-header-row *matHeaderRowDef="['run','tipoRelacion','nombres','apPaterno','apMaterno','acciones']">
            </tr>
            <tr mat-row
              *matRowDef="let row; columns: ['run','tipoRelacion','nombres','apPaterno','apMaterno','acciones'];"></tr>
          </table>
        </div>
      </div>
    </div>
    </div>

    
  </div>
        <!-- Botón Guardar -->
        <mat-card-actions class="acciones justify-content-end mt-3">
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
            Guardar/Siguiente
          </button>
        </mat-card-actions>
</mat-card>

<!-- MODAL (Agregar/Editar) en la MISMA PLANTILLA -->
<ng-template #tutelaModal let-dialogRef>
  <h2 mat-dialog-title>{{ editMode ? 'Editar Hijo/Tutela' : 'Agregar Hijo/Tutela' }}</h2>
  <br>
  <mat-dialog-content>
    <form [formGroup]="tutelaForm">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <!-- RUN -->
            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>R.U.N.</mat-label>
              <input matInput formControlName="rut" />
            </mat-form-field>
          </div>

          <div class="col-md-8">
            <!-- Tipo de Relación -->
            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>Tipo de Relación</mat-label>
              <mat-select formControlName="parentescoId">
                <mat-option *ngFor="let p of parentescos" [value]="p.id">
                  {{ p.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <!-- Nombres -->
            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>Nombres</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!-- Apellido Paterno -->
            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput formControlName="apellidoPaterno" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <!-- Apellido Materno -->
            <mat-form-field appearance="outline" class="w-100 mb-3">
              <mat-label>Apellido Materno</mat-label>
              <input matInput formControlName="apellidoMaterno" />
            </mat-form-field>
          </div>
        </div>
      </div>



    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="saveHijo(dialogRef)">
      Guardar
    </button>
  </mat-dialog-actions>
</ng-template>