<mat-card class="tarjeta-declaracion">

  <!-- Encabezado (Título y Subtítulo) -->
  <div class="encabezado">
    <h2 class="titulo m-0">Datos de la Entidad</h2>
    <div class="subtitulo">
      <p class="m-0">Ingrese la información correspondiente a su entidad o servicio</p>
    </div>
  </div>

  <!-- Separador -->
  <hr class="separador" />

  <!-- Contenido del Formulario -->
  <div class="contenido-form">
    <form [formGroup]="entidadForm" class="form-declaracion">

      <!-- Servicio / Entidad -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Servicio / Entidad</mat-label>
            <input matInput formControlName="servicio" placeholder="CONTRALORÍA GENERAL - TESTING CGR" />
          </mat-form-field>
        </div>

        <div class="col-md-8">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cargo o Función</mat-label>
            <input matInput formControlName="cargoFuncion" placeholder="JEFE DE UNIDAD" />
          </mat-form-field>
        </div>
      </div>

      <!-- Tipo Sujeto Obligado -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo Sujeto Obligado</mat-label>
            <mat-select formControlName="tipoSujeto">
              <mat-option value="1">
                1. Presidente de la República, Ministros de Estado...
              </mat-option>
              <mat-option value="2">
                2. Intendentes, Gobernadores...
              </mat-option>
              <mat-option value="3">
                3. Subsecretarios...
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Subnumeral -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Subnumeral</mat-label>
            <input matInput formControlName="subnumeral" placeholder="3. SUBSECRETARIOS" />
          </mat-form-field>
        </div>
      </div>

      <!-- Seleccione Grado o Renta Mensual -->
      <div class="row mb-3 align-items-center">

        <div class="col-md-12 text-center">
          <strong> Seleccione Grado o Renta Mensual:
          </strong> <br>
          <mat-radio-group>
            <mat-radio-button value="grado" class="me-4">Grado</mat-radio-button>
            <mat-radio-button value="renta">Renta Mensual</mat-radio-button>
          </mat-radio-group>

          <div class="row mt-3 text-center">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <mat-form-field appearance="outline" class="w-100" >
                <mat-label>Grado</mat-label>
                <input matInput formControlName="grado" placeholder="31°"  class="w-100" />
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field appearance="outline" class="w-100" >
                <mat-label>Renta Mensual</mat-label>
                <input matInput formControlName="rentaMensual" class="w-100" />
              </mat-form-field>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>

      <!-- Fecha Asunción -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha Asunción</mat-label>
            <input matInput formControlName="fechaAsuncion" placeholder="DD/MM/AAAA" />
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Región</mat-label>
            <input matInput formControlName="regionDesempeno" placeholder="METROPOLITANA DE SANTIAGO" />
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Comuna de desempeño</mat-label>
            <input matInput formControlName="comunaDesempeno" placeholder="SANTIAGO" />
          </mat-form-field>
        </div>
      </div>

      <!-- ¿Es Jefe/a de Servicio? -->
      <div class="row mb-3 align-items-center">
        <div class="col-md-12">
          <strong>¿Es Jefe/a de Servicio?</strong><br>
          <mat-checkbox formControlName="jefeServicio">
            Esta casilla se marca si usted es Jefe/a de Servicio
          </mat-checkbox>
        </div>
      </div>

      <!-- Botón Guardar -->
      <mat-card-actions class="acciones justify-content-end mt-3">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          Guardar/Siguiente
        </button>
      </mat-card-actions>
    </form>
  </div>
</mat-card>