<mat-card class="tarjeta-declaracion">

  <!-- Encabezado con título y subtítulo -->
  <div class="encabezado">
    <h2 class="titulo m-0">Declaración de Actividades</h2>
    <div class="subtitulo">
      <p class="m-0">Actividades profesionales, laborales, económicas, gremiales o de beneficiencia, sean o no
        remuneradas, que realice o en que participe</p>
    </div>
  </div>

  <!-- Separador -->
  <hr class="separador" />
  <div class="contenido-form">


    <div class="border p-3 mb-3">

      <div class="row mb-3 align-items-center">
        <div class="col-md-4 etiqueta fw-bold">Actividades en que haya participado en los últimos 12 meses</div>
        <div class="col-md-7 text-end">
          <mat-radio-group [value]="actividadesUltimos12Meses" (change)="onTieneActividad12MesesChange($event.value)">
            <mat-radio-button value="si" class="me-4">Tiene</mat-radio-button>
            <mat-radio-button value="no">No Tiene</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="actividadesUltimos12Meses === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal('12meses')">Declarar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table mat-table [dataSource]="actividades12Meses" class="w-100 mat-elevation-z8">

              <!-- Tipo Actividad -->
              <ng-container matColumnDef="tipoActividad" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef> Tipo de Actividad </th>
                <td mat-cell *matCellDef="let act">{{ act.tipoActividad }}</td>
              </ng-container>

              <!-- Rubro/Área -->
              <ng-container matColumnDef="rubroArea" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Rubro, Área o Tipo de Actividad</th>
                <td mat-cell *matCellDef="let act">{{ act.rubro }}</td>
              </ng-container>

              <!-- Naturaleza del vínculo -->
              <ng-container matColumnDef="vinculo" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Naturaleza del vínculo</th>
                <td mat-cell *matCellDef="let act">{{ act.vinculo }}</td>
              </ng-container>

              <!-- Objeto Entidad -->
              <ng-container matColumnDef="objetoEntidad" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Objeto Entidad</th>
                <td mat-cell *matCellDef="let act">{{ act.objetoEntidad }}</td>
              </ng-container>

              <!-- Data Sensible -->
              <ng-container matColumnDef="dataSensible" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Data Sensible</th>
                <td mat-cell *matCellDef="let act">{{act.rbDatoSensible ? 'SI' : 'NO' }}
                </td>
              </ng-container>

              <!-- Estado -->
              <ng-container matColumnDef="estado" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let act">{{ !act.borrador ? 'COMPLETO' : 'INCOMPLETO' }}
                </td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let act">
                  <button mat-icon-button color="accent" (click)="openEditModal('12meses',act)" matTooltip="Editar">
                    <img src="assets/icons/icon-btn-tabla_editar.svg">
                  </button>

                  <button mat-icon-button color="warn" (click)="eliminarActividad(act)" matTooltip="Eliminar">
                    <img src="assets/icons/icon-btn-tabla_eliminar.svg">
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnActividad12Meses"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnActividad12Meses;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="border p-3 mb-3">

      <div class="row mb-3 align-items-center">
        <div class="col-md-4 etiqueta fw-bold">Actividades que realiza o en que participa a la fecha de la Declaración
        </div>
        <div class="col-md-7 text-end">
          <mat-radio-group [value]="actividadesQueRealiza" (change)="onTieneActividadRealizaChange($event.value)">
            <mat-radio-button value="si" class="me-4">Tiene</mat-radio-button>
            <mat-radio-button value="no">No Tiene</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="actividadesQueRealiza === 'si'">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal('realiza')">Declarar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table mat-table [dataSource]="actividadesRealiza" class="w-100 mat-elevation-z8">

              <!-- Tipo Actividad -->
              <ng-container matColumnDef="tipoActividad" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef> Tipo de Actividad </th>
                <td mat-cell *matCellDef="let act">{{ act.tipoActividad }}</td>
              </ng-container>

              <!-- Rubro/Área -->
              <ng-container matColumnDef="rubroArea" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Rubro, Área o Tipo de Actividad</th>
                <td mat-cell *matCellDef="let act">{{ act.rubroArea }}</td>
              </ng-container>

              <!-- Naturaleza del vínculo -->
              <ng-container matColumnDef="vinculo" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Naturaleza del vínculo</th>
                <td mat-cell *matCellDef="let act">{{ act.vinculo }}</td>
              </ng-container>

              <!-- Objeto Entidad -->
              <ng-container matColumnDef="objetoVinculo" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Objeto Vinculo</th>
                <td mat-cell *matCellDef="let act">{{ act.objetoVinculo }}</td>
              </ng-container>

              <!-- Fecha Inicio -->
              <ng-container matColumnDef="fechaInicio" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                <td mat-cell *matCellDef="let act">{{ act.fechaInicio }}</td>
              </ng-container>

              <!-- Beneficiario -->
              <ng-container matColumnDef="beneficiario" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Beneficiario</th>
                <td mat-cell *matCellDef="let act">{{ act.beneficiario }}</td>
              </ng-container>

              <!-- Data Sensible -->
              <ng-container matColumnDef="dataSensible" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Data Sensible</th>
                <td mat-cell *matCellDef="let act">{{act.rbDatoSensible ? 'SI' : 'NO' }}
                </td>
              </ng-container>

              <!-- Estado -->
              <ng-container matColumnDef="estado" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let act">{{ !act.borrador ? 'COMPLETO' : 'INCOMPLETO' }}
                </td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let act">

                  <button mat-icon-button color="accent" (click)="openEditModal('realiza',act)" matTooltip="Editar">
                    <img src="assets/icons/icon-btn-tabla_editar.svg">
                  </button>

                  <button mat-icon-button color="warn" (click)="eliminarActividad(act)" matTooltip="Eliminar">
                    <img src="assets/icons/icon-btn-tabla_eliminar.svg">
                  </button>
                  
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsActividadesRealiza"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsActividadesRealiza;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="border p-3 mb-3" *ngIf="flagConyuge">

      <div class="row mb-3 align-items-center" *ngIf="flagConyuge">
        <div class="col-md-4 etiqueta fw-bold">Actividades que realiza o participa el/la Cónyuge o Conviviente Civil a
          la fecha de la Declaración</div>
        <div class="col-md-7 text-end">
          <mat-radio-group [value]="actividadesConyuge" (change)="onTieneActividadConyugeChange($event.value)">
            <mat-radio-button value="si" class="me-4">Tiene</mat-radio-button>
            <mat-radio-button value="no">No Tiene</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div *ngIf="actividadesConyuge === 'si' && flagConyuge">
        <div class="row mb-3">
          <div class="col-md-12 text-end">
            <button mat-raised-button color="primary" (click)="openAddModal('conyuge')">Declarar</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table mat-table [dataSource]="actividadesConyugeData" class="w-100 mat-elevation-z8">

              <!-- Tipo Actividad -->
              <ng-container matColumnDef="tipoActividad" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef> Tipo de Actividad </th>
                <td mat-cell *matCellDef="let act">{{ act.tipoActividad }}</td>
              </ng-container>

              <!-- Rubro/Área -->
              <ng-container matColumnDef="rubroArea" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Rubro, Área o Tipo de Actividad</th>
                <td mat-cell *matCellDef="let act">{{ act.rubroArea }}</td>
              </ng-container>

              <!-- Fecha Inicio -->
              <ng-container matColumnDef="fechaInicio" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                <td mat-cell *matCellDef="let act">{{ act.fechaInicio }}</td>
              </ng-container>


              <!-- Clasificación -->
              <ng-container matColumnDef="clasificacion" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Clasificación</th>
                <td mat-cell *matCellDef="let act">{{ act.clasificacion }}</td>
              </ng-container>

              <!-- Beneficiario -->
              <ng-container matColumnDef="beneficiario" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Beneficiario</th>
                <td mat-cell *matCellDef="let act">{{ act.beneficiario }}</td>
              </ng-container>

              <!-- Rut Beneficiario -->
              <ng-container matColumnDef="rutBeneficiario" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Rut Beneficiario</th>
                <td mat-cell *matCellDef="let act">{{ act.rutBeneficiario }}</td>
              </ng-container>


              <!-- Data Sensible -->
              <ng-container matColumnDef="dataSensible" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Data Sensible</th>
                <td mat-cell *matCellDef="let act">{{act.rbDatoSensible ? 'SI' : 'NO' }}
                </td>
              </ng-container>

              <!-- Estado -->
              <ng-container matColumnDef="estado" appResizableColumn>
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let act">{{ !act.borrador ? 'COMPLETO' : 'INCOMPLETO' }}
                </td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let act">

                  <button mat-icon-button color="accent" (click)="openEditModal('conyuge',act)" matTooltip="Editar">
                    <img src="assets/icons/icon-btn-tabla_editar.svg">
                  </button>

                  <button mat-icon-button color="warn" (click)="eliminarActividad(act)" matTooltip="Eliminar">
                    <img src="assets/icons/icon-btn-tabla_eliminar.svg">
                  </button>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsActividadesConyuge"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsActividadesConyuge;" [ngClass]="{'fila-incompleta': row.borrador}"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Botón Guardar -->
  <mat-card-actions class="acciones justify-content-end mt-3">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
      Guardar/Siguiente
    </button>
  </mat-card-actions>
</mat-card>

<!-- Modal inline para Agregar/Editar Actividades que realiza en los ultimos 12 meses -->
<ng-template #actividad12MesesModal let-dialogRef>
  <h2 mat-dialog-title>{{ edit12MesesMode ? 'Editar Actividad' : 'Agregar Actividad' }}</h2>

  <mat-dialog-content>
    <!-- Modal: Actividades últimos 12 meses -->
<form [formGroup]="actividades12MesesForm">
  <mat-form-field class="w-100 mb-3">
    <mat-label>Tipo de Actividad</mat-label>
    <mat-select formControlName="tipoActividadId">
      <mat-option *ngFor="let t of tiposActividades" [value]="t.id">{{ t.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>Rubro, Área o Tipo de Actividad</mat-label>
    <mat-select formControlName="rubroId">
      <mat-option *ngFor="let r of actividadesProfesionales" [value]="r.id">{{ r.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>Descripción de la Actividad</mat-label>
    <textarea matInput formControlName="descripcionActividad" rows="3"></textarea>
  </mat-form-field>

  <mat-form-field class="w-100 mb-3">
    <mat-label>¿Dato sensible según Ley 19.628?</mat-label>
    <mat-select formControlName="rbDatoSensible">
      <mat-option [value]="true">Sí</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
</form>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveActividad('12meses')">Guardar</button>
  </mat-dialog-actions>
</ng-template>

<!-- Modal inline para Agregar/Editar Actividades que Reliza -->
<ng-template #actividadesRealizaModal let-dialogRef>
  <h2 mat-dialog-title>{{ editRealizaMode ? 'Editar Actividad' : 'Agregar Actividad' }}</h2>

  <mat-dialog-content>
    <!-- Modal: Actividades que realiza a la fecha -->
<form [formGroup]="actividadesRealizaForm">
  <!-- Tipo de Actividad -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Tipo de Actividad</mat-label>
    <mat-select formControlName="tipoActividadId">
      <mat-option *ngFor="let t of tiposActividades" [value]="t.id">{{ t.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Rubro / Área -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Rubro, Área o Tipo de Actividad</mat-label>
    <mat-select formControlName="rubroId">
      <mat-option *ngFor="let r of actividadesProfesionales" [value]="r.id">{{ r.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Fecha Inicio -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput [matDatepicker]="pickerR" formControlName="fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="pickerR"></mat-datepicker-toggle>
    <mat-datepicker #pickerR></mat-datepicker>
  </mat-form-field>

  <!-- Clasificación -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Clasificación</mat-label>
    <mat-select formControlName="clasificacionId">
      <mat-option *ngFor="let c of clasificaciones" [value]="c.id">{{ c.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Beneficiario -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Nombre o razón social del beneficiario</mat-label>
    <input matInput formControlName="beneficiario" />
  </mat-form-field>

  <!-- RUT / RUN selector -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>R.U.T. o R.U.N.</mat-label>
    <mat-select formControlName="rbRunRut">
      <mat-option value="rut">R.U.T.</mat-option>
      <mat-option value="run">R.U.N.</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- RUT / RUN -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Número</mat-label>
    <input matInput formControlName="rut" />
  </mat-form-field>

  <!-- Dato sensible -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>¿Dato sensible según Ley 19.628?</mat-label>
    <mat-select formControlName="rbDatoSensible">
      <mat-option [value]="true">Sí</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
</form>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveActividad('realiza')">Guardar</button>
  </mat-dialog-actions>
</ng-template>


<!-- Modal inline para Agregar/Editar Actividades de conyuge -->
<ng-template #actividadesConyugeModal let-dialogRef>
  <h2 mat-dialog-title>{{ editConyugeMode ? 'Editar Actividad' : 'Agregar Actividad' }}</h2>

  <mat-dialog-content>
    <form [formGroup]="actividadesConyugeForm">
        <!-- Tipo de Actividad -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Tipo de Actividad</mat-label>
    <mat-select formControlName="tipoActividadId">
      <mat-option *ngFor="let t of tiposActividades" [value]="t.id">{{ t.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Rubro / Área -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Rubro, Área o Tipo de Actividad</mat-label>
    <mat-select formControlName="rubroId">
      <mat-option *ngFor="let r of actividadesProfesionales" [value]="r.id">{{ r.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Fecha Inicio -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Fecha de Inicio</mat-label>
    <input matInput [matDatepicker]="pickerR" formControlName="fechaInicio">
    <mat-datepicker-toggle matSuffix [for]="pickerR"></mat-datepicker-toggle>
    <mat-datepicker #pickerR></mat-datepicker>
  </mat-form-field>

  <!-- Clasificación -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Clasificación</mat-label>
    <mat-select formControlName="clasificacionId">
      <mat-option *ngFor="let c of clasificaciones" [value]="c.id">{{ c.nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Beneficiario -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Nombre o razón social del beneficiario</mat-label>
    <input matInput formControlName="beneficiario" />
  </mat-form-field>

  <!-- RUT / RUN selector -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>R.U.T. o R.U.N.</mat-label>
    <mat-select formControlName="rbRunRut">
      <mat-option value="rut">R.U.T.</mat-option>
      <mat-option value="run">R.U.N.</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- RUT / RUN -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>Número</mat-label>
    <input matInput formControlName="rut" />
  </mat-form-field>

  <!-- Dato sensible -->
  <mat-form-field class="w-100 mb-3">
    <mat-label>¿Dato sensible según Ley 19.628?</mat-label>
    <mat-select formControlName="rbDatoSensible">
      <mat-option [value]="true">Sí</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
  </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveActividad('conyuge')">Guardar</button>
  </mat-dialog-actions>
</ng-template>