<div class="container-fluid">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Inicio</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Declaraciones
      </li>
    </ol>
  </nav>

  <!-- Título del componente -->
  <h2 class="component-title mb-3">Bandeja Declarante <span class="me-2"> ({{ dataSource?.data!.length }})</span>
  </h2>



  <!-- Botón para mostrar/ocultar filtros -->
  <div class="filtros-header d-flex align-items-center mb-1">
    <span class="me-2 fw-bold">Filtros avanzados</span>
    <button class="btn btn-link btn-collapse" (click)="toggleFiltros()">
      <mat-icon *ngIf="!showFilters">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="showFilters">keyboard_arrow_up</mat-icon>
    </button>
  </div>

  <!-- Caja de filtros (colapsable) -->
  <div class="filtros-caja" [class.collapsed]="!showFilters">
    <div class="row g-2 mt-2">
      <!-- Fecha Declaración -->
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="small-form-field w-100">
          <mat-label>Fecha Declaración</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="fechaDeclaracion">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Tipo -->
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="small-form-field w-100">
          <mat-label>Tipo</mat-label>
          <mat-select [formControl]="tipo">
            <mat-option value="">TODOS</mat-option>
            <mat-option value="FIRMA DECLARACIÓN">FIRMA DECLARACIÓN</mat-option>
            <mat-option value="PRIMERA DECLARACIÓN">PRIMERA DECLARACIÓN</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Servicio -->
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="small-form-field w-100">
          <mat-label>Servicio</mat-label>
          <mat-select [formControl]="servicio">
            <mat-option value="">TODOS</mat-option>
            <mat-option value="CONTRALORÍA GENERAL">CONTRALORÍA GENERAL</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Cargo -->
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="small-form-field w-100">
          <mat-label>Cargo</mat-label>
          <mat-select [formControl]="cargo">
            <mat-option value="">TODOS</mat-option>
            <mat-option value="JEFE DE UNIDAD">JEFE DE UNIDAD</mat-option>
            <mat-option value="ANALISTA">ANALISTA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Estado -->
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="small-form-field w-100">
          <mat-label>Estado</mat-label>
          <mat-select [formControl]="estado">
            <mat-option value="">TODOS</mat-option>
            <mat-option value="RECEPCIONADA">RECEPCIONADA</mat-option>
            <mat-option value="ARCHIVADA">ARCHIVADA</mat-option>
            <mat-option value="RECIBIDA">RECIBIDA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col d-flex justify-content-end mt-3">
        <button mat-raised-button color="primary" class="me-2" (click)="buscar()">
          <img src="assets/icons/icon-btn-tabla_filtrar.svg" alt="" style="width: 20px; filter: invert();">
          Buscar
        </button>
        <button mat-raised-button color="warn" (click)="limpiar()">
          <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="" style="width: 20px; filter: invert();">
          Limpiar
        </button>
      </div>
    </div>
  </div>
  <br>

  <!-- Barra de acciones: Descargar y Agregar Declaración -->


  <!-- Botón Agregar Declaración al final -->
  <div class="col-auto ms-auto float-end pb-3">
    <button mat-raised-button color="primary" [routerLink]="['/declaraciones/nueva']">
      <img src="assets/icons/icon-btn-home_nueva_declaracion.svg" style="width: 18px;" alt="">
      Nueva Declaración
    </button>
  </div>
</div>

<!-- Tabla con checkboxes -->
<!-- VISTA DE ESCRITORIO: TABLA (visible desde md en adelante) -->
<div class="d-none d-md-block">
  <table mat-table [dataSource]="dataSource" class="small-table mat-elevation-z8 w-100">

    <!-- Nro Declaración -->
    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef> Nro Declaración </th>
      <td mat-cell *matCellDef="let element"> {{ element.nro }} </td>
    </ng-container>

    <!-- Fecha Recepción -->
    <ng-container matColumnDef="fechaRecepcion">
      <th mat-header-cell *matHeaderCellDef> Fecha Recepción </th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaRecepcion }}
      </td>
    </ng-container>

    <!-- Tipo -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element">
        {{ element.tipo }}
      </td>
    </ng-container>

    <!-- Servicio -->
    <ng-container matColumnDef="servicio">
      <th mat-header-cell *matHeaderCellDef> Servicio </th>
      <td mat-cell *matCellDef="let element">
        {{ element.servicio }}
      </td>
    </ng-container>

    <!-- Cargo -->
    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element">
        {{ element.cargo }}
      </td>
    </ng-container>

    <!-- Estado (pill) -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef style="align-content: center !important;">
        <p style="display:inline; text-align: justify; align-content: center;">Estado</p>

        <!-- Botón "Estados" -->
        <button mat-icon-button [matMenuTriggerFor]="menuEstados" aria-label="Leyenda de Estados">
          <img src="assets/icons/icon-info.svg" alt="">
        </button>
      </th>

      <td mat-cell *matCellDef="let element">
        <span [ngClass]="getEstadoPillClass(element.estado)" class="estado-pill">
          {{ element.estado }}
        </span>
      </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Acciones
        <!-- Botón "Acciones" -->
        <button mat-icon-button [matMenuTriggerFor]="menuAcciones" aria-label="Leyenda de Acciones">
          <img src="assets/icons/icon-info.svg" alt="">
        </button>

      </th>
      <td mat-cell *matCellDef="let element" class="actions-cell">
        <button mat-icon-button color="primary" (click)="editar(element)" matTooltip="Editar">
          <img src="assets/icons/icon-btn-tabla_editar.svg">
        </button>
        <button mat-icon-button color="accent" (click)="bitacora(element)" matTooltip="Bitácora">
          <img src="assets/icons/icon-btn-tabla_bitacora.svg">
        </button>
        <button mat-icon-button color="accent" (click)="archivar(element)" matTooltip="Archivar">
          <img src="assets/icons/icon-btn-tabla_archivar.svg">
        </button>

        <button mat-icon-button color="accent" (click)="archivar(element)" matTooltip="Descargar">
          <img src="assets/icons/icon-btn-tabla_descargar.svg">
        </button>

        <!-- <button mat-icon-button color="accent" (click)="archivar(element)" matTooltip="Archivar">
            <img src="assets/icons/icon-btn-tabla_archivar.svg">
          </button> -->


        <button mat-icon-button color="warn" (click)="eliminar(element)" matTooltip="Eliminar">
          <img src="assets/icons/icon-btn-tabla_eliminar.svg">
        </button>
      </td>
    </ng-container>

    <!-- Cabecera y Filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="col-12 d-flex justify-content-center" style="background-color: rgba(255, 255, 255, 0.729);">
    <mat-paginator style="background-color: transparent;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [length]="dataSource?.data!.length"
      aria-label="Paginador de Declaraciones">
    </mat-paginator>
  </div>
</div>


<!-- VISTA DE MOBILE: LISTA -->
<div class="d-block d-md-none">
  <div class="list-group">
    <div class="list-group-item" *ngFor="let element of dataSource.data"
      [class.selected]="selection.isSelected(element)">
      <div class="first-row d-flex justify-content-between align-items-center">
        <div class="left-col d-flex align-items-center">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(element) : null"
            [checked]="selection.isSelected(element)" color="primary">
          </mat-checkbox>
          <h5 class="mb-0 ml-2">{{ element.nro }}</h5>
        </div>
        <div class="right-col">
          <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editar(element); $event.stopPropagation()">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="bitacora(element); $event.stopPropagation()">
              <mat-icon>list</mat-icon>
              <span>Bitácora</span>
            </button>
            <button mat-menu-item (click)="archivar(element); $event.stopPropagation()">
              <mat-icon>archive</mat-icon>
              <span>Archivar</span>
            </button>
            <button mat-menu-item (click)="eliminar(element); $event.stopPropagation()">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="details mt-2">
        <p class="mb-1">Fecha Recepción: {{ element.fechaRecepcion }}</p>
        <p class="mb-1">Tipo: {{ element.tipo }}</p>
        <p class="mb-1">Servicio: {{ element.servicio }}</p>
        <p class="mb-1">Cargo: {{ element.cargo }}</p>
        <p class="mb-1">
          Estado:
          <span [ngClass]="getEstadoPillClass(element.estado)" class="estado-pill">
            {{ element.estado }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>



<mat-menu #menuEstados="matMenu" class="mini-popover">
  <div class="popover-content p-2">
    <div class="legend-item">
      <span class="estado-pill pill-success">RECEPCIONADA</span>
      <span> = Declaración recepcionada.</span>
    </div>
    <div class="legend-item">
      <span class="estado-pill pill-secondary">ARCHIVADA</span>
      <span> = Declaración archivada.</span>
    </div>
    <div class="legend-item">
      <span class="estado-pill pill-warning">RECIBIDA</span>
      <span> = Declaración recibida.</span>
    </div>
    <div class="legend-item">
      <span class="estado-pill pill-default">OTRO</span>
      <span> = Cualquier otro estado.</span>
    </div>
  </div>
</mat-menu>


<mat-menu #menuAcciones="matMenu" class="mini-popover">
  <div class="popover-content p-2">
    <div class="legend-item">
      <img src="assets/icons/icon-btn-tabla_editar.svg" alt="Editar" class="accion-icon">
      <strong>Editar</strong>
      <span> = Modifica la declaración.</span>
    </div>
    <div class="legend-item">
      <img src="assets/icons/icon-btn-tabla_bitacora.svg" alt="Bitácora" class="accion-icon">
      <strong>Bitácora</strong>
      <span> = Historial de cambios.</span>
    </div>
    <div class="legend-item">
      <img src="assets/icons/icon-btn-tabla_archivar.svg" alt="Archivar" class="accion-icon">
      <strong>Archivar</strong>
      <span> = Mueve la declaración al archivo.</span>
    </div>
    <div class="legend-item">
      <img src="assets/icons/icon-btn-tabla_eliminar.svg" alt="Eliminar" class="accion-icon">
      <strong>Eliminar</strong>
      <span> = Elimina la declaración.</span>
    </div>
  </div>
</mat-menu>